<p>
  <%= link_to "LISTADOS TODOS LOS PEDIDOS", :controller => "pedidos"%>
</p>
<p>
  <%= link_to "REGISTRAR PEDIDO", :controller => "pedidos", :action => "new" %>
</p>
<p>
  <%= link_to "AUTORIZAR PEDIDO", :controller => "autorizacions", :action => "index" %>
</p>