<p>
  <b>Rol:</b>
  <%=h @roleusuario.rol_id %>
</p>

<p>
  <b>Usuario:</b>
  <%=h @roleusuario.usuario_id %>
</p>


<%= link_to 'Edit', edit_roleusuario_path(@roleusuario) %> |
<%= link_to 'Back', roleusuarios_path %>